@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #133A1B;
}

#titlelogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7.5%;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 55px;
}
#logocontainer {
    max-width: 100px;
    margin-right: 20px;
}
#logo {
    width: 100%;
    height: auto;
}
#title {
    color: #E4E4dC;
}

main{
    background-color: #FCF9D9;
}
#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #011B10;
    color: #E4E4dC;
}
.navbutton{
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.3s;
    cursor: pointer;
}
.navbutton:hover{
    background-color: #133A1B;
}
#homebutton{
    margin-left: 60px;
}
#futbutton{
    background-color: #133A1B;
}

#entrywrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#entry {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    background-color: #133A1B;
    border-radius: 12px;
    box-shadow: 0px 0px 7px #969696;
    max-width: 545px;
    width: 70vw;
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: center;
}
#textEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
#textEntryTitle{
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:white;
    margin-top:70px;
    margin-bottom: 50px;
}

.entryField{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:white;
    margin-bottom:30px;
}

.inputField {
    width: 100%;
    border-radius:15px;
    height:48px;
    background-color:#f2f2f2;
    padding-left: 10px;
}

label{
    margin-bottom: 5px;
}

#continueContainer{
    margin-bottom: 35px;
    padding: 20px 20px 20px 20px;
    background-color: #969696;
    border-radius: 10px;
    color: white;
}
#continueContainer:hover {
    cursor: pointer;
}


#body {
    margin: 25px 0px 25px 0px;
    display: flex;
    align-items: center;
    display: none;
    margin-bottom: 250px;
}
#mainheader {
    font-size: 30px;
    text-align: center;
}
#description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
.desctext {
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 30px;
    max-width: 85vw;
}
#shap_barimgcontainer {
    max-width: 100%;
}
#shap_bar {
    width: 100%;
    height: auto;
    display: none;
}

footer {
    background-color: #133A1B;
    color: #E4E4dC;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#memberlist {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
#members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.membername{
    margin: 0px 5px 0px 5px;
}